{% import "infinity-express.html" as ie %}

{% set appName = 'isFirstApp' %}
{% set appCtrl = 'isFirstCtrl' %}
{% set appContainer = 'zips' %}
{% set appItem = 'zip' %}
{% set appDataSrc = '/zips/60016' %}

{{ ie.head(appName,'IE Rocks','Rocks','seanyainkiranina@yahoo.com') }}

{{ ie.navigation() }}

{{ ie.header('Hello World','ie') }}

{{ ie.about(appCtrl,'Ie Ctrl Title',appItem,appContainer,'zip','city','state') }}

{{ ie.footer('me') }}

{{ ie.footer(appName,appCtrl,appDataSrc,appContainer,'me') }}






