{% macro head(appName,title,description,author) %}
  {% import "gray-template.html" as gt %}
<!DOCTYPE html>
<html lang="en" ng-app="{{ appName }}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author }}">

    <title>{{ title }}</title>

{{ gt.header() }}

<style>
  table tr td{
	color:#000000;
    }

</style>


</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

{% endmacro %}


{% macro navigation() %}
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> 
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
{% endmacro %}

{% macro header(h1,intro) %}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">{{ h1 }}</h1>
                        <p class="intro-text">{{ intro }}</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endmacro %}


{% macro about(ctrlName,h2,item,container,props) %}

  {% import "ng.html" as ang %}

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row" ng-controller="{{ ctrlName }}">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>{{ h2 }}</h2>
                  <table st-table="{{ container }}" 
class="table table-striped">
                   <thead>
                   <tr>
			{% for prop in props %}
                          <th>{{ prop }}</th>
			{% endfor  %}
                   </tr>
                   </thead>
                   <tbody>
		<tr ng-repeat="{{ item }} in {{ container }}">
			{% for prop in props %}
				<td>
			{{ ang.renderAngularItem(item,prop) }}
                 		</td>
			{% endfor  %}
               </tr>
                   </tbody>

                  </table>
		
            </div>
        </div>
    </section>
{% endmacro %}


{% macro footer(appName,ctrlName,ctrlUrl,ctrlContainer,copyRight) %}
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; {{ copyRight }}</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>


    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/smart-table.min.js"></script>
    <!-- Generated Angular for this example -->
    <script type="text/javascript">

var {{ appName }}  = angular.module('{{ appName }}', []);

{{ appName }}.controller('{{ ctrlName }}', function ($scope,$http){



         $http.get('{{ ctrlUrl }}').
		success(function(data){

			$scope.{{ ctrlContainer }}=data;



		});



});
</script>

</body>

</html>
{% endmacro %}
